.contents{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-width:2px;
    padding : 15px;
}


#generateButton{
    margin-top : 5px;
    margin-bottom: 15px;;
}