/* 
 * Responsive Layout
 */

@media screen and (max-width: 1024px) {

    nav ul li a {
        font-size: medium;
    }
}


 @media screen and (max-width: 1000px) {

    .card-book {
        width: 100%;
    }
    
    .search_section img {
        width: 200px;
        height: 200px;
    }

    #searchBook #searchBookTitle {
        width: 100%;
        border-radius: 10px;
    }

	#content, 
	aside {
		width: 100%;
		padding: 0;
	}
}

/* 
 *Navbar 
 */

/* 
 * Ukuran Tablet
 */

@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}

/* 
 * Ukuran Mobile 
 */

@media screen and (max-width: 576px) {
    
    .search_section img {
        width: 100px;
        height: 100px;
    }

    #searchBook #searchBookTitle {
        width: 100%;
        border-radius: 10px;
    }

    #searchBook #searchSubmit {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        font-weight: bold;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #2C394B;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        border-radius: 25px 0 0 25px;
        z-index: 1;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}